.detail-container {

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

}

.card {

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.cardImage {

    width: 300px;
    height: 300px;
    background-image: url('../images/Card.gif');
    padding: 30px;
    -webkit-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}

.Pokevalues {
    color: #ffffff;
    display: flex;
    flex-flow: column;
    background: #002e74;
    padding: 30px;
    -webkit-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    min-height: 300px;
}

.nameImg {
    /* border: 1px solid #000000; */
}

.pokeName {
    color: #f2f45f;
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 25px;
    text-shadow: #ffffff 0px 0px 2px;
    font-weight: 500;

}

.pokeTag {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;

}

.loadingLoader {
    width: 100%;
    margin-top: 30Vh;

}

.buttonBack {
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    background: #b3110f;
    color: #ffffff;
    font-size: large;
    font-weight: 700;
    margin: 12px;
    height: 40px;

}

.buttonBack:hover {
    background: #ffffff;
    color: #b3110f;
}

.buttonBack:active {
    background: #f2f45f;
    color: #b3110f;
}