body {
    background-color: #fff769;

}


.conta {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 650px;

    background-image: url('../images/confeti.gif');


}


.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.button {
    border-radius: 30px;
    background: #0844c0;
    color: #ffca62;
}

.button:hover {
    background: #ffca62;
    color: #0844c0;
}

.image {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    margin: 0;
}

.amigos {
    width: 320px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: rgb(19, 19, 19);

    width: 230px;
    min-height: 110px;
}