.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 21px;
    margin-bottom: 10px;
    background-color: #000000;

    /* -webkit-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px; */
    box-shadow: #33312c4b 0px 5px 0px 0px;
}

.all {
    text-decoration: none;
    color: #FFFCF5;
    font-size: 23px;
    font-weight: bold;

    /* border-radius: 30px; */
    text-align: center;
}

.all:hover {
    color: #BF120F;
    /* text-shadow: #ffffff 0px 1px 3px; */
    background: #0344732f;
}

.all:active {
    color: #5256A8;
    /* text-shadow: #6C71F5 0px 0px 20px; */
    background: #F2F45F;
}

.home {
    padding: 7px;
    width: 25%;

}

.create {
    padding: 7px;
    width: 50%;
}

.exit {
    padding: 7px;
    width: 25%;
}