/* paleta de colores */
/*
 #ffffff blanco
#b3110f rojo
#92f45f verde
#154ced azul
#151412 negro
#007467 verde fuerte
#57d3f7 turquesa claro
*/

.pagination {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button-page {
    display: flex;
    align-content: center;
    background: #007467;
    border-radius: 50px;
    padding: 5px;

}

.number {
    display: flex;
    padding: 5px;
    border-radius: 50px;


}

.numberButton {
    border-radius: 50px;
    background: #b3110f;
    color: #ffffff;
    font-size: large;
    font-weight: 700;
    box-shadow: inset 0px 1px 0px #ffffff, 0px 6px 0px #151412;
}

.numberButton:hover {
    background: #92f45f;
    color: #154ced;
}

.numberButton:active {
    background: #154ced;
    color: #92f45f;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.number-of-page {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
}

.previous {}

.next {}